<%- layout("/layout/boilerPlate")-%>
<body>
<div class="row">
  <div class="col-8 offset-2">
    <h1>Edit your listing</h1>
     <form  class="editform needs-validation" novalidate action="/listings/edit/<%=item._id%>?_method=put" method="post" enctype="multipart/form-data"><br>
      <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="listing[title]" value="<%=item.title%>" class="form-control" required>
          <div class="invalid-feedback">Title must be valid</div>
          <div class="valid-feedback">looks fine</div>
        
      </div>
      <div class="mb-3">
          <label for="description" class="form-label">Description</label>
         <textarea name="listing[description]" id="description" rows="5" cols="10" class="form-control" required ><%=item.description%></textarea>
         <div class="invalid-feedback">Enter short description</div>

      </div>
          <div class="mb-3">
            <label for="preview-image" class="form-label">Previous listing preview</label><br>
          <img src="<%=originalUrl%>" alt="" class="edit-image">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">image</label>
            <input type="file" name="listing[image]" placeholder="url" class="form-control" >
        </div>
      <div class="mb-3">
         <label for="price" class="form-label">Price</label>
          <input type="number" name="listing[price]" class="form-control" value="<%=item.price%>"  required>
          <div class="invalid-feedback">Enter valid price</div>

      </div>
      <div class="row">
      <div class="mb-3 col-md-4">
         <label for="location" class="form-label">Location</label>
         <input type="text" name="listing[location]" value="<%=item.location%>" class="form-control " required>
         <div class="invalid-feedback">location must be entered </div>
      </div>
      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input type="text" name="listing[country]" value="<%=item.country%>" class="form-control" required>
        <div class="invalid-feedback">Enter Location</div>
      </div>
      </div>
      <br>
      <br>
          <button type="submit" class="btn btn-dark">submit</button><br><br><br><br>
    </form>
    </div>
</div>
  <script>// Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>
</body>
